<section id="main" class="wrapper">
    <div class="inner">
        <div class="content">
            <h2>Profile</h2>
                <form name="userForm">
                    <div class="row gtr-uniform">
                        <div class="col-6 col-12-xsmall">
                            <label>First name</label>
                            <input type="text" [(ngModel)] = "firstName" name="firstName" value= "{{firstName}}">
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <label>Last name</label>
                            <input type="text" [(ngModel)] = "lastName" name="lastName" value= "{{lastName}}">
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <label>Username</label>
                            <input type="text" [(ngModel)] = "username" name="username" value= "{{username}}">
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <label>Email</label>
                            <input type="email" [(ngModel)] = "email" name="email" value= "{{email}}">
                        </div>
                       
                        
                        
                        <h2>Loans</h2>
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Author</th>
                                    <th>Returned</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let book of booksHistory">
                                    <td>{{book.name}}</td>
                                    <td>{{book.author}}</td>
                                    <td>{{book.returned | yesNo }}</td>
                                </tr>
                            </tbody>
                        </table>

                        <h2>Wishlist</h2>
                        <div class="highlights" *ngIf = 'booksWishlist && booksWishlist.length'>
                            <section *ngFor = 'let book of booksWishlist'>
                                <div class="content bookCard"  (click) = "onSelect(book)" style="background-color:lavender">
                                    <header>
                                        <a href="#" class="icon fa-paper-plane-o"><span class="label">Icon</span></a>
                                        <h3>{{book.name}}</h3>
                                        <h4>{{book.author}}</h4>
                                    </header>
                                    <p>{{book.description}}</p>
                                    <h4>Match - {{book.match | number:'2.1-1'}}</h4>
                                </div>
                            </section>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</section>
