<section id="main" class="wrapper">
    <div class="inner">
        <div class="content">
            <h2>Profile</h2>
                <form name="userForm">
                    <div class="row gtr-uniform">
                        <div class="col-6 col-12-xsmall">
                            <label>First name</label>
                            <input type="text" [(ngModel)] = "firstName" name="firstName" value= "{{firstName}}">
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <label>Last name</label>
                            <input type="text" [(ngModel)] = "lastName" name="lastName" value= "{{lastName}}">
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <label>Username</label>
                            <input type="text" [(ngModel)] = "username" name="username" value= "{{username}}">
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <label>Email</label>
                            <input type="email" [(ngModel)] = "email" name="email" value= "{{email}}">
                        </div>
                        
                        <h2>Loans</h2>
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Returned</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Alpha</td>
                                    <td>Ante turpis integer aliquet porttitor.</td>
                                    <td>10.00</td>
                                </tr>
                                <tr>
                                    <td>Beta</td>
                                    <td>Vis ac commodo adipiscing arcu aliquet.</td>
                                    <td>20.00</td>
                                </tr>
                                <tr>
                                    <td>Gamma</td>
                                    <td>Morbi faucibus arcu accumsan lorem.</td>
                                    <td>30.00</td>
                                </tr>
                                <tr>
                                    <td>Delta</td>
                                    <td>Vitae integer tempus condimentum.</td>
                                    <td>40.00</td>
                                </tr>
                                <tr>
                                    <td>Epsilon</td>
                                    <td>Ante turpis integer aliquet porttitor.</td>
                                    <td>50.00</td>
                                </tr>
                                <tr>
                                    <td>Zeta</td>
                                    <td>Vis ac commodo adipiscing arcu aliquet.</td>
                                    <td>60.00</td>
                                </tr>
                                <tr>
                                    <td>Eta</td>
                                    <td>Morbi faucibus arcu accumsan lorem.</td>
                                    <td>70.00</td>
                                </tr>
                                <tr>
                                    <td>Theta</td>
                                    <td>Vitae integer tempus condimentum.</td>
                                    <td>80.00</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2"></td>
                                    <td>360.00</td>
                                </tr>
                            </tfoot>
                        </table>

                        <h2>Wishlist</h2>
                        <div class="highlights" *ngIf = 'books && books.length'>
                            <section *ngFor = 'let book of books'>
                                <div class="content bookCard"  (click) = "onSelect(book)" style="background-color:lavender">
                                    <header>
                                        <a href="#" class="icon fa-paper-plane-o"><span class="label">Icon</span></a>
                                        <h3>{{book.name}}</h3>
                                        <h4>{{book.author}}</h4>
                                    </header>
                                    <p>{{book.description}}</p>
                                    <h4>Match - {{book.match | number:'2.1-1'}}</h4>
                                </div>
                            </section>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</section>
