
    
<!--
       
            <h3>Actions</h3>
            <ul class="actions">
                <li><a href="#" class="button primary">Default</a></li>
                <li><a href="#" class="button">Default</a></li>
            </ul>
            <ul class="actions">
                <li><a href="#" class="button primary small">Small</a></li>
                <li><a href="#" class="button small">Small</a></li>
            </ul>
            <div class="row">
                <div class="col-3 col-12-small">
                    <ul class="actions stacked">
                        <li><a href="#" class="button primary">Default</a></li>
                        <li><a href="#" class="button">Default</a></li>
                    </ul>
                </div>
                <div class="col-3 col-12-small">
                    <ul class="actions stacked">
                        <li><a href="#" class="button primary small">Small</a></li>
                        <li><a href="#" class="button small">Small</a></li>
                    </ul>
                </div>
                <div class="col-3 col-12-small">
                    <ul class="actions stacked">
                        <li><a href="#" class="button primary fit">Default</a></li>
                        <li><a href="#" class="button fit">Default</a></li>
                    </ul>
                </div>
                <div class="col-3 col-12-small">
                    <ul class="actions stacked">
                        <li><a href="#" class="button primary small fit">Small</a></li>
                        <li><a href="#" class="button small fit">Small</a></li>
                    </ul>
                </div>
            </div>

       
        
        <h3>Buttons</h3>
        <ul class="actions">
            <li><a href="#" class="button primary">Primary</a></li>
            <li><a href="#" class="button">Default</a></li>
        </ul>
        <ul class="actions">
            <li><a href="#" class="button primary large">Large</a></li>
            <li><a href="#" class="button">Default</a></li>
        </ul>
        <ul class="actions">
            <li><a href="#" class="button small">Small</a></li>
            <li><a href="#" class="button wide">Wide</a></li>
        </ul>
        <ul class="actions fit">
            <li><a href="#" class="button primary fit">Fit</a></li>
            <li><a href="#" class="button fit">Fit</a></li>
        </ul>
        <ul class="actions fit">
            <li><a href="#" class="button primary fit small">Fit + Small</a></li>
            <li><a href="#" class="button fit small">Fit + Small</a></li>
        </ul>
        <ul class="actions">
            <li><a href="#" class="button primary icon fa-search">Icon</a></li>
            <li><a href="#" class="button icon fa-download">Icon</a></li>
        </ul>
        <ul class="actions">
            <li><span class="button primary disabled">Primary</span></li>
            <li><span class="button disabled">Default</span></li>
        </ul>
-->
<!-- Form -->
<section id="main" class="wrapper">
    <div class="inner">
        <div class="content">
            <h3>Pretraga knjiga</h3>
                <form method="post" action="#">
                    <div class="row gtr-uniform">
                    
                        <div class="col-6 col-12-xsmall">
                            <input type="text" name="naslov" id="naslov" value="" placeholder="Naslov knjige">
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <input type="text" name="pisac" id="pisac" value="" placeholder="Pisac">
                        </div>
                        <!-- Break -->
                        <div class="col-12">
                            <select name="category" id="category">
                                <option value="">- Žanr -</option>
                                <option value="alpha">Option alpha</option>
                                <option value="beta">Option beta</option>
                                <option value="gamma">Option gamma</option>
                                <option value="delta">Option delta</option>
                                <option value="epsilon">Option epsilon</option>
                                <option value="zeta">Option zeta</option>
                                <option value="eta">Option eta</option>
                                <option value="theta">Option theta</option>
                            </select>
                        </div>
                            <!-- Break -->
                            <div class="col-4 col-12-small">
                                <input type="radio" id="radio-alpha" name="radio" checked="">
                                <label for="radio-alpha">Radio alpha</label>
                            </div>
                            <div class="col-4 col-12-small">
                                <input type="radio" id="radio-beta" name="radio">
                                <label for="radio-beta">Radio beta</label>
                            </div>
                            <div class="col-4 col-12-small">
                                <input type="radio" id="radio-gamma" name="radio">
                                <label for="radio-gamma">Radio gamma</label>
                            </div>
                            <!-- Break -->
                            <div class="col-6 col-12-small">
                                <input type="checkbox" id="checkbox-alpha" name="checkbox">
                                <label for="checkbox-alpha">Checkbox alpha</label>
                            </div>
                            <div class="col-6 col-12-small">
                                <input type="checkbox" id="checkbox-beta" name="checkbox" checked="">
                                <label for="checkbox-beta">Checkbox beta</label>
                            </div>
                        
                            <!-- Break -->
                            <div class="col-12">
                                <ul class="actions">
                                    <li><input type="submit" value="Pretraži" class="primary"></li>
                                    <li><input type="reset" value="Obriši sve"></li>
                                </ul>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
</section>

       
