
<!-- Form -->
<section id="main" class="wrapper">
    <div class="inner">
        <div class="content">
            <h3>Pretraga knjiga</h3>
                <form method="post" action="#" [formGroup]="bookSearchForm" (ngSubmit)="makeSearchRequest()">
                    <div class="row gtr-uniform">
                    
                        <div class="col-6 col-12-xsmall">
                            <input type="text" formControlName="name" id="naslov" value="" placeholder="Naslov knjige">
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <input type="text" formControlName="authorName" id="pisac" value="" placeholder="Pisac">
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <input type="number" formControlName="yearPublished" id="godina" value="" placeholder="Godina izdavanja">
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <input type="text" formControlName="publisher" id="izdKuca" value="" placeholder="Izdavacka kuca">
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <input type="text" value="Period radnje:" readonly>
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <input type="date" formControlName="periodSet" id="period" placeholder="Period radnje">
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <input type="text" formControlName="motives" id="motiv" value="" placeholder="Motiv knjige">
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <input type="text" formControlName="lesson" id="pouka" value="" placeholder="Pouka">
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <input type="number" formControlName="targetAgeGroup" id="uzrast" value="" placeholder="Za uzrast">
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <select formControlName="style" id="stil">
                                <option value="">- Književni stil -</option>
                                <option *ngFor='let style of styles' >{{style.name}}</option>
                            </select>
                        </div>
                        
                        <!-- Break -->
                        <div class="col-6 col-12-xsmall">
                            <h4>Dodani likovi</h4>
                            <ul class="alt" id="likovi">

                            </ul>
                        </div>
                        <div class="col-3 col-12-xsmall">
                            <input type="text" name="lik" id="lik" placeholder="Dodaj lika...">
                        </div>
                        <div class="col-3 col-12-xsmall">
                            <li class="button primary fit" (click)="dodajLika()">Dodaj</li>                        
                        </div>
                            <!-- Break -->
                        <div class="col-12">
                            <select formControlName="genre" id="zanr">
                                <option value="">- Žanr -</option>
                                <option *ngFor='let genre of genres' >{{genre.name}}</option>
                            </select>
                        </div>
                        
                        <div class="col-6 col-12-small">
                            <input type="checkbox" id="dostupno" checked="">
                            <label for="dostupno">Dostupna</label>
                        </div>
                    
                        <!-- Break -->
                        <div class="col-12">
                            <ul class="actions">
                                <li><input type="submit" value="Pretraži" class="primary"></li>
                                <li><input type="reset" value="Obriši sve"></li>
                            </ul>
                        </div>
                    </div>

                    <div class="highlights" *ngIf = 'books && books.length'>
						<section *ngFor = 'let book of books'>
							<div class="content bookCard"  *ngIf = 'book.tags'  (click) = 'onSelect(book)'>
								<header>
                                    <a href="#" class="icon fa-paper-plane-o"><span class="label">Icon</span></a>                                    <h3>{{book.tags.name}}</h3>
                                    <h4>{{book.tags.author}}</h4>
								</header>
								<p>{{book.tags.description}}</p>
							</div>
                        </section>
                    </div>
                </form>
            </div>
        </div>
</section>

       
