<section id="main" class="wrapper" >
    <div class="inner" opacity=".99">
        <div class="content">
            <h3>Login</h3>
                <form method="post" [formGroup]="loginForm" action="#">
                    <div class="row gtr-uniform">
                    
                        <div class="col-6 col-12-xsmall">
                            <input type="text" formControlName="username" value="" placeholder="Username">
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <input type="password" formControlName="password" value="" placeholder="Password">
                        </div>
                        <!-- Break -->
                        <div class="col-12">
                            <ul class="actions">
                                <li><input type="submit" value="Login" class="primary" (click) = 'login()'></li>
                                <li><input type="reset" value="Register" [routerLink]="['/registration']"></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</section>

       
