<!-- Header -->
<header id="header">
    <a class="logo" [routerLink]="['/login']">Prijava</a>
    <a class="logo"  [routerLink]="['/search']">Pretraga</a>
    <a class="logo" href="#" (click)='logout()' >Odjava</a>
    <nav>
        <a href="#menu">Menu</a>
    </nav>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="index.html">Home</a></li>
        <li><a href="elements.html">Elements</a></li>
        <li><a href="generic.html">Generic</a></li>
    </ul>
</nav>


<!-- Banner -->
    <section id="heading">
        <div class="inner">
            <h1>Biblioteka Oblak</h1>
            <p>“A reader lives a thousand lives before he dies . . . The man who never reads lives only one.” – George R.R. Martins<br />
            </p>
        </div>
        <!-- <video autoplay loop muted playsinline src="images/banner.mp4"></video> -->
    </section>
