<section id="main" class="wrapper">
    <div class="inner">
        <div class="content">
            <h3>Ostavite recenziju</h3>
                <form method="post" action="#" #form name = "form" [formGroup]="bookReviewForm">
                    <div class="row gtr-uniform" #content>
                        <div class="col-12">
                            <textarea formControlName="critique" [(ngModel)]="critique" id="recenzija" placeholder="Vaše mišljenje..." rows="6"></textarea>
                        </div>
                        <!-- Break -->
                        <div class="col-12">
                            <select formControlName="rate" [(ngModel)]="rate" id="category">
                                <option value="">- Ocena -</option>
                                <option value="5">5</option>
                                <option value="4">4</option>
                                <option value="3">3</option>
                                <option value="2">2</option>
                                <option value="1">1</option>
                            </select>
                        </div>
                         <div class="col-12 col-12-small">
                            <a (click)="generateTagInfo($event);" class="button primary fit">Dodajte informacije o knjizi</a>
                        </div>
                        
                        <div id = "actionButtons" #actionButtons class="col-12 ">
                            <ul class="actions">
                                <li><input type="submit" value="Pošalji" class="primary" ng-disabled="form.$invalid" (click)='makeBookReview()'></li>
                                <!--<li><input type="reset" value="Obriši sve"></li>-->
                                <li><a (click)="reset($event)" class="button">Obriši sve</a></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
