<section id="main" class="wrapper">
    <div class="inner">
        <div class="content">
            <h3>Registracija</h3>
                <form method="post" action="#">
                    <div class="row gtr-uniform">
                    
                        <div class="col-6 col-12-xsmall">
                            <input type="text" name="ime" id="ime" value="" placeholder="Ime">
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <input type="text" name="prezime" id="prezime" value="" placeholder="Prezime">
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <input type="text" name="username" id="username" value="" placeholder="Username">
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <input type="email" name="email" id="email" value="" placeholder="Email">
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <input type="password" name="sifra" id="sifra" value="" placeholder="Sifra">
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <input type="password" name="ponoviSifru" id="ponoviSifru" value="" placeholder="Ponovi sifru">
                        </div>
                        <!-- Break -->
                        <div class="col-12">
                            <ul class="actions">
                                <li><input type="submit" value="Registruj se" class="primary"></li>
                                <li><input type="reset" value="Obriši sve"></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</section>

       
