<html>
<body>
<br>
<br>
<br>


<div class="container container-table input-group input-group-sm">
  <form  (ngSubmit)="onSubmit()" [formGroup]="createUser">
    <div class="form-group">
      <h2 align = "center" style="color:#6c0daf">Add new user</h2>
    </div>

    <div class="form-group">
      <input type="text" id="firstnameca" class="form-control"
             placeholder="First Name"
             [(ngModel)]="user.firstName"
            formControlName="firstname"
              required
      />
    </div>

    <div class="form-group">
      <input type="text" id="lastname" class="form-control"
             placeholder="Last Name"
             [(ngModel)]="user.lastName"
            formControlName="lastname"
             required
      />
    </div>
    <div class="form-group text-center">
      <button [disabled]="createUser.invalid || createUser.pristine" type="submit" class="btn btn-success">Add user</button>
    </div>
</form>
</div>

<p align="center" style="color:#670e81">List of all users</p>

<table class="table table-bordered table-striped">
  <thead class = "thead dark">
  <tr>
    <th scope="col">First name</th>
    <th scope="col">Last name</th>
    <th scope="col">Membership</th>
    <th scope="col">Loans</th>
  </tr>

  </thead>

  <tbody>
  <tr *ngFor="let u of users; let i = index">

    <td>{{u.firstName}}</td>
    <td>{{u.lastName}}</td>
    <td><div *ngIf="u.membershipExpired; else elseBlock"><button (click)='payMembership(u.id)'>Pay membership</button></div>
    <ng-template #elseBlock>Paid</ng-template></td>
    <td>
      <div *ngIf="u.loan != ''; else elseBlockLoans">{{u.loan}}<button (click)='returnLoan(u.id)'>Return</button></div>
    <ng-template #elseBlockLoans>No loan</ng-template>
    </td>
  </tr>
  </tbody>
  </table>

</body>

</html>
